h1 {
    color: blue;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    background-color: rebeccapurple;
    color: black;
    height: 100px;
    width: 400px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 80px;
}

#currentCalc {
    background-color: aqua;
    color: black;
    height: 60px;
    width: 400px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 40px;
}

button {
    width: 90px;
    height: 90px;
    background-color: teal;
    margin: 3px;
    font-size: 40px;
}

#clear {
    width: 190px;
}

#buttonContainer {
    display: grid;
    grid-template-columns: [col1-start] 0px [col2-start] 300px;
    grid-template-rows: [row1-start] 0px [row2-start] 100px;
    height:400px;
    width: 400px;
}

#operatorContainer{
    grid-column: col3-start;
}

#clearContainer{
    grid-row: row1-start / row1-end;
}

#numContainer{
    grid-row: row2-start;
}